/*UPDATE VERSION [48]*/

/*
#==================================================
#Class: CS-470 Artificial Intelligence
#Professor: Amit Das
#Name: Christian Tampus
#Description: General Purpose Image Classifier & Analyzer
#Assignment: Semester Project
#==================================================
*/

:root {
    --large-font: 40px;
    --small-font: 30px;
    --button-font: 20px;
    --prediction-font: 30px;
    --class-attribute-font: 30px;
    --text-color: white;
    --text-shadow:
        1px 1px 0px gray,
        2px 2px 0px gray,
        3px 3px 0px gray,
        4px 4px 0px black,
        5px 5px 10px black;
    --image-size: 480px;
}

#mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: linear-gradient(-45deg, #0f172a, #3b82f6, #e0f2fe);
    animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#title-author-div {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.text-style {
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#title {
    font-size: var(--large-font);
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    margin: 0px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#author {
    font-size: var(--small-font);
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    margin: 0px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imageToPredict {
    width: var(--image-size);
    height: var(--image-size);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 50px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.button-style {
    font-size: var(--button-font);
    color: var(--text-color);
    background-color: #007BFF;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.button-style:hover {
    background-color: #0056b3;
    cursor: pointer;
}

#predictButton {
    border: none;
}

#result {
    font-size: var(--prediction-font);
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 20px;
    border-radius: 20px;
}

#class-attribute-div {
    width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 20px;
}

#class-attribute-h3 {
    font-size: var(--class-attribute-font);
    color: var(--text-color);
    text-shadow: var(--text-shadow);
}

#class-attribute-ul {
    list-style-type: none;
}

.class-attribute-li {
    font-size: var(--class-attribute-font);
    color: var(--text-color);
    text-shadow: var(--text-shadow);
}

/*
Responsive Web Design: Tablet Screen Size
*/
@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --text-shadow:
            1px 1px 0px gray,
            2px 2px 0px gray,
            3px 3px 0px black,
            4px 4px 10px black;
    }
    #title-author-div {
        height: 200px;
    }
    #title {
        font-size: calc(var(--large-font) * 0.75);
    }
    #author {
        font-size: calc(var(--small-font) * 0.75);
    }
    #imageToPredict {
        width: 360px;
        height: 360px;
        border: 35px solid rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }
    .button-style {
        font-size: calc(var(--button-font) * 1.25);
    }
    #result {
        font-size: calc(var(--prediction-font) * 0.75);
        width: 600px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 15px;
        border-radius: 15px;
    }
    #class-attribute-div {
        width: 600px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 15px;
    }
    #class-attribute-h3 {
        font-size: calc(var(--class-attribute-font) * 0.75);
    }
    .class-attribute-li {
        font-size: calc(var(--class-attribute-font) * 0.75);
    }
}

/*
Responsive Web Design: Mobile (Phone) Landscape Screen Size
*/
@media (min-width: 481px) and (max-width: 768px){
    :root {
        --text-shadow:
            1px 1px 0px gray,
            2px 2px 0px black,
            3px 3px 10px black;
    }
    #title-author-div {
        height: 100px;
    }
    #title {
        font-size: calc(var(--large-font) * 0.5);
    }
    #author {
        font-size: calc(var(--small-font) * 0.5);
    }
    #imageToPredict {
        width: 240px;
        height: 240px;
        border: 20px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    .button-style {
        font-size: calc(var(--button-font) * 1.5);
    }
    #result {
        font-size: calc(var(--prediction-font) * 0.5);
        width: 400px;
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 10px;
        border-radius: 10px;
    }
    #class-attribute-div {
        width: 400px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 10px;
    }
    #class-attribute-h3 {
        font-size: calc(var(--class-attribute-font) * 0.5);
    }
    .class-attribute-li {
        font-size: calc(var(--class-attribute-font) * 0.5);
    }
}

/*
Responsive Web Design: Mobile (Phone) Portrait Screen Size
*/
@media (max-width: 480px) {
    :root {
        --text-shadow:
            1px 1px 0px gray,
            2px 2px 0px black,
            3px 3px 10px black;
    }
    #title-author-div {
        height: 80px;
    }
    #title {
        font-size: calc(var(--large-font) * 0.4);
    }
    #author {
        font-size: calc(var(--small-font) * 0.4);
    }
    #imageToPredict {
        width: 144px;
        height: 144px;
        border: 15px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    .button-style {
        font-size: calc(var(--button-font) * 1.65);
    }
    #result {
        font-size: calc(var(--prediction-font) * 0.4);
        width: 300px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
    }
    #class-attribute-div {
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    }
    #class-attribute-h3 {
        font-size: calc(var(--class-attribute-font) * 0.4);
    }
    .class-attribute-li {
        font-size: calc(var(--class-attribute-font) * 0.4);
    }
}