# Ignore Python bytecode and caches
__pycache__/
*.pyc
*.pyo

# Ignore environment variables / virtual environments
.env
venv/
env/

# Ignore models if you don't want to push large files (optional)
backend/AIModels/*.h5

# Ignore logs
*.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Python egg / build files
*.egg-info/
dist/
build/